/* down */

footer{
  width: 80px;
  height: 24px;

  padding: 5px;

  text-align: center;
  font-size: 20px;

  padding: 2px 10px 2px 10px;

  background-color: rgba(75, 162, 147, 0.7);
  border: 2px solid rgba(75, 162, 147, 1);
  border-radius: 50px;

  align-self: flex-end;
  grid-area: down;
}

footer>a{
  color: black;
}

footer>a:hover{
  color: white;
}
